@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    padding: 0 40px;
}

.v8-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.v8-table td, .v8-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.v8-table tr:nth-child(even){background-color: #f2f2f2;}

.v8-table tr:hover {background-color: #ddd;}

.v8-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin: 20px 0;
}

.searchTerm {
    width: 100%;
    border: 3px solid #04AA6D;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000;
}

.searchTerm:focus{
    color: #000;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #04AA6D;
    background: #04AA6D;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
